* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.habbit-container {
  width: 500px;
}

.habbit-container h1,
h2 {
  text-align: center;
}

.habbit-container h2 {
  margin-top: 50px;
}

.habbits-wrapper {
}

.add-habbit-wrapper {
  display: flex;
  width: inherit;
  justify-content: center;
}

.input-wrapper {
  width: 80%;
}

#description-habbit {
  width: 350px;
  height: 30px;
}

.habbit-card {
  background-color: #ed9ffd;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.habbit-card.checked {
  background-color: darkgray;
  opacity: 0.5;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom p {
  margin: 5px 5px 5px 0px;
}

.description {
  width: 80%;
}

.btn-change.clicked {
  background-color: grey;
}

.btn-delete.hide {
  display: none;
}

.form-control label {
  font-size: 18px;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 50%;
  border: var(--border);
  resize: none;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  background: #f7f7f7;
  font-family: inherit;
  transition: 0.22s background;
  outline: none;
}

.form-control input:focus,
.form-control textarea:focus {
  background: #fff;
}

.form-control input.invalid,
.form-control textarea.invalid {
  animation: validate 2s;
}