:root {
  --green: #73ba3c;
  --orange: #f99415;
  --red: #e75a5a;
  --border: 1px solid rgba(151, 158, 162, 0.3);
  --radius: 6px;
  --border-color: rgba(151, 158, 162, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #dedede77;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.heading {
  margin-bottom: 1rem;
}

.habbits-cards {
  display: block;
  margin-right: -1rem;
}

.habbit-card {
  /* width: 600px; */
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  background: #fff;
  transition: 0.4s box-shadow;
  background: #fff;
  border-radius: var(--radius);
  border: var(--border);
}

.habbit-card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.22);
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.bottom {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.post-day {
  width: 60%;
}

.bottom p {
  margin: 5px 5px 5px 0px;
}

.card {
  width: 40%;
  margin-right: 0.5rem;
}

.progress-bar {
  position: relative;
  width: 60%;
  height: 30px;
  border: var(--border);
  border-radius: var(--radius);
}

.progress-value {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: grey;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  transition: 0.5s width;
}

.progress-bar.modal {
  width: 100%;
}

.habbit-type {
  position: absolute;
  top: -2.5rem;
}

.description {
  width: 70%;
}

.form {
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
}

.form-control select {
  height: 2.6rem;
}

/* .form-control label {
  font-size: 18px;
  display: block;
  margin-bottom: 0.5rem;
} */

.form-control input {
  display: block;
  width: 50%;
  border: var(--border);
  resize: none;
  padding: 0.75rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  border-radius: var(--radius);
  background: #f7f7f7;
  font-family: inherit;
  transition: 0.22s background;
  outline: none;
}

.form-control input:focus {
  background: #fff;
}

.form-control input.invalid {
  animation: validate 2s;
}

@keyframes validate {
  0% {
    border: 1px solid var(--red);
  }

  50% {
    border: 1px solid var(--red);
  }

  100% {
    border: var(--border);
  }
}

.btn {
  font-family: inherit;
  padding: 0.7rem 2rem;
  border: 1px solid #ccc;
  background: #f7f7f7;
  border-radius: var(--radius);
  transition: 0.3s background;
  text-align: center;
}

.btn.edit {
  /* text-align: center; */
  width: 20%;
  padding: 0.5rem 0rem;
  margin-right: 0.15rem;
}

.btn.done {
  width: 30%;
  padding: 0.5rem 0rem;
  /* text-align: center; */
}

.btn.delete {
  /* text-align: center; */
  width: 20%;
  padding: 0;
}

.btn.type {
  padding: 0.4rem 0.3rem;
}

.btn.sort {
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.5rem;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #fff;
  cursor: pointer;
}

.btn.hide {
  display: none;
}

.empty {
  margin-bottom: 2rem;
  color: grey;
}

.habbit-modal {
  display: none;
}

.habbit-modal.open {
  display: block;
  position: fixed;
  top: 50px;
  transform: translateX(-50%);
  left: 50%;
  width: 500px;
  background: #fff;
  z-index: 200;
  padding: 1.5rem;
  border-radius: var(--radius);
}

.habbit-modal h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.habbit-modal p {
  margin-bottom: 1rem;
}

.habbit-modal hr {
  margin-bottom: 1rem;
  border: none;
  height: 2px;
  background: var(--border-color);
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.habbit-modal.edit.open {
  display: block;
  position: fixed;
  top: 50px;
  transform: translateX(-50%);
  left: 50%;
  width: 500px;
  background: #fff;
  z-index: 200;
  padding: 1.5rem;
  border-radius: var(--radius);
}